.numbers-Pagination {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    margin-bottom: 100px;
}

.pages-Pagination {
    display: flex;
    gap: 33px;
    list-style: none;
}

.numButton-Pagination {
    background: #ffc492;
    border: none;
    padding: 6px;
    border-radius: 11px;
    font-size: 16px;
}
.pages-Pagination > button{
    border: none;
}