.mainContainer-landingPage{
    text-align: center;
}
.title-LandingPage{
    margin-top: 70px;
}
.button-landingPage{
    padding: 10px;
    margin-top: 20px;
    width: 11%;
    background-color: #ffbfbf;
    border: none;
}
.img-LandingPage{
    margin-top: 33px;
}
.a-LandingPage{
    display: flex;
    justify-content: center;
}