.mainContainer-Dog{
    text-align: center;
    /* border: 1px solid tomato;
    padding: 50px; */
    margin-bottom: 200px;
    border-bottom: 1px solid gray;
    padding-bottom: 50px;
}
.img-Dog{
    width: 500px;
}
.mainContainer-Dog > hr{
    margin-top: 50px;
}